<div class="container contact  py-5">
    <form>
       
        <div class="row">
        <label for="inputEmail" class="form-label">Email</label>
        <input type="email" class="form-control" id="inputEmail" required>
        </div>
        <div class="row">
        <label for="inputPassword" class="form-label">Password</label>
        <input class="form-control" type="password" placeholder="" id="inputPassword" required>
        </div>
        <div class="row py-5">
        <button class="btn btn-primary " type="submit">SignIn</button>
      </div>
    </form>
</div>


