<nav class="navbar navbar-expand-md">
  <div class="container-fluid">
    <b class="navbar-brand" href="#">Movies</b>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav me-auto mb-2 mb-md-0">
        <li class="nav-item">
          <a class="nav-link lk link-secondary px-4 active" routerLink="" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link lk link-secondary px-4" routerLink="/contact" href="#">Contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link lk link-secondary px-4" routerLink="/about" href="#" >About Us</a>
        </li>
      </ul>
      <div class="d-flex">
        <ul class="navbar-nav me-auto mb-2 mb-md-0" >
            <li class="nav-item">
              <a class="nav-link lk link-secondary px-4" *ngIf="!authService.loggedIn()" routerLink="/signup">Register</a>
            </li>
            <li class="nav-item">
              <a class="nav-link lk link-secondary px-4" *ngIf="!authService.loggedIn()"  routerLink="/signin">Login</a>
            </li>
              <a class="nav-link lk link-secondary px-4" style="cursor:pointer" 
              *ngIf="authService.loggedIn()" (click)="authService.logout()" >Logout</a>
        </ul>
      </div>
    </div>
  </div>
</nav>