<div  class="container sign py-4">
    <h1 class="text-center"><b>Register</b></h1>
  <form  [formGroup]="signupForm">
      <div class="row">
      <label for="inputEmail" class="form-label"><b>Email</b></label>
      <input type="email" class="form-control" formControlName="email" id="inputEmail" required>
      </div>
      <div class="row">
      <label for="inputPassword" class="form-label"><b>Password</b></label>
      <input class="form-control" type="password" placeholder="" id="inputPassword"formControlName="password" required>
      </div>
      <div class="row py-5">
      <button class="btn btn-primary " type="submit" [disabled]="signupForm.invalid"
      (click)="onSubmit()">Register</button>
    </div>
  </form>
</div>